body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
  }
  
  .topnav {
   border-bottom: 1px solid seashell;
   text-align: right;
   background-color: black;
   height: 69px;
   top: 0;
   position: fixed;
  }
  
  .topnav a {
    padding-left: 15px;
    color: seashell;
    text-decoration: underline;
    text-align: right;
  }
  
  .logo {
    height: 50px;
    padding-left: 10px;
    text-align: left;
  }
  
  .background {
    width: 1200px;
    height: 700px;
    margin-top: 69px;
  }